name: Publish

on:
  workflow_dispatch:
  push:
    branches: [ "quartz" ]
  workflow_run:
    workflows: [ Merge ]
    types: [ completed ]
    branches: [ main ]

permissions:
  contents: read
  pages: write
  id-token: write
 
concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Checkout to quartz
        run: git switch quartz

      - name: Move content to quartz content folder
        run: cp -r content quartz

      - name: Move assets to quartz content folder
        run: cp -r assets quartz/content
      
      - name: Remove Excalidraw .md files
        run: rm quartz/content/assets/*.md

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.12
      
      - name: Transform files to Quartz format
        run: |
          cd quartz
          python transform_files.py
      
      - uses: actions/setup-node@v4
        with:
          node-version: 22
      
      - name: Install Dependencies
        run: |
          cd quartz
          npm ci
      
      - name: Build Quartz
        run: |
          cd quartz
          npx quartz build
      
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: quartz/public
  
  
  deploy:
    needs: build
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4